* {
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
}

header h1 {
  color: #fff;
  font-family: "fjalla one", impact;
  font-size: 42px;
}

header h2 {
  color: #fff;
  font-family: "fjalla one", impact;
  margin-top: -35px;
}

main {
  padding: 10px;
  background: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main form fieldset {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

fieldset div {
  margin: 0 5px;
  width: 46%;
}

input[type="text"] {
  width: 100%;
}

#title {
  font-family: "fjalla one", impact;
  text-align: center;
}

pre {
  width: 100%;
  height: 300px;
  overflow: auto;
}

.codeBlock {
  padding: 10px;
  border: 1px solid darkgrey;
  border-radius: 8px;
  background-color: lightgrey;
}

.hidden {
  display: none;
}

@media all and (min-width: 600px) {
  header h1 {
    font-size: 52px;
  }

  header h2 {
    margin-top: -45px;
  }

  main {
    border-radius: 8px;
    width: 600px;
    margin: auto;
  }
}
